/*
## Colors
### Primary
- Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)
### Neutral
- Very Light Grayish Blue: hsl(240, 78%, 98%)
- Light Grayish Blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%)

## Typography
### Body Copy
- Font size: 15px

### Font
- Weight: 700
*/

/*------------------------------------------------------------*/

/* FYI: "The designs were created to the following widths: Mobile: 375px. Desktop: 1440px */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}







footer {
    text-align: center;
    font-size: 11px;
}

footer a {
    color: hsl(228, 45%, 44%); /*hsl(hue, saturation, lightness)*/
}

/****************************************
****************************************/

/*@media screen and (min-width: ???px) {}*/ /* starting at width of ???px, the below will take effect.*/
    




/* KEEP THIS AS A REFERENCE:
parent {
    display: flex;    mandatory 
    flex-direction: ;    row (default) | row-reverse | column | column-reverse 
    justify-content: ;    flex-start (default) | flex-end | center | space-between | space-around | space-evenly 
    align-items: ;    flex-start | flex-end | center | (baseline) | stretch (default) 
    flex-wrap: ;    nowrap (default) | wrap | wrap-reverse 
    align-content: ;    flex-start | flex-end | center | space-between | space-around | stretch (default) 
}

child {
    align-self: ;    flex-start | flex-end | center | (baseline) | stretch (default)
    flex-grow: ;    0 is default 
    flex-shrink: ;    1 is default 
    flex-basis: ;    auto is default 
    order: ;    0 is default 
}
*/
